<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- The Play CDN is designed for development purposes only, and is not the best choice for production. -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full fixed bg-blue-100 top-0 left-0 px-5 py-3 flex items-center justify-between">
        <h3 class="text-xl">EliteTole</h3>
        <div class="flex gap-10">
            <a href="#" class="text-[2rem]"><i class="fas fa-search "></i></a>
            <a href="/user/cart" class="text-[2rem]"><i class="fas fa-shopping-bag"></i></a>
            <a href="/user/logout" class="text-[2rem]"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>

    <div class="w-full h-fit flex items-start px-10 py-20">
        <!-- Sidebar -->
        <div class="w-[12%] flex h-screen flex-col items-start">
            <div class="flex items-center gap-2">
                <h3>Sort by</h3>
                <form action="/shop">
                    <select class="border-[1px] px-2 py-1" name="sortby" id="">
                        <option value="popular">Popular</option>
                        <option value="newest">Newest</option>
                    </select>
                </form>
            </div>
            <div class="flex flex-col mt-20">
                <a class="block w-fit mb-2" href="">New Collection</a>
                <a class="block w-fit mb-2" href="">All Products</a>
                <a class="block w-fit mb-2" href="">Discounted Products</a>
            </div>
            <div class="mt-32">
                <a class="block w-fit mb-2" href="">Filter by :</a>
                <a class="block w-fit mb-2" href="">Availability</a>
                <a class="block w-fit mb-2" href="">Discount</a>
            </div>
        </div>

        <!-- Products -->
        <div class="w-[88%] ml-2 flex flex-col gap-5 h-fit">
            <div class="flex items-start gap-3 flex-wrap">
                <% products.forEach(function(product){ %>
                    <div class="w-60">
                        <div class="w-full h-52 flex items-center justify-center bg-[<%= product.bgcolor %>]">
                            <img class="h-[12rem]" src="/media/upload/<%=product.image%>" alt="">
                        </div>
                        <div
                            class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]">
                            <div>
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <h4>₹<%= product.price %>
                                </h4>
                            </div>
                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
                                href="/user/addcart/<%=product._id%>">
                                <i class="ri-add-line"></i>
                            </a>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
</body>

</html>